/* You can add global styles to this file, and also import other style files */
.none{
    display: none;
}
.customTitle{
    font-family: 'Permanent Marker', cursive;
}
.customTAC{
    text-align: center;
}
.customFont{
    font-family: 'Notable', sans-serif;
    color: white;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color:black;
}
